:root {
  font-family: "poppins";
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #3c3836;
}
.header {
  font-family: "poppins";
  font-size: 50px;
  color: #3c3836;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px;
  text-shadow: 2px 2px 4px #3c3836;
  background-color: #bdae93;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #a89984; */
}

body {
  color: var(--primary-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: var(--primary-color);
  font-family: "Poppins";
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.error-msg {
  color: #fb4934;
  text-align: center;
}

.loading {
  color: #d3869b;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-margin);
}

.search-section .search-input {
  min-width: 500px;
  padding: var(--default-spacing);
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
  border-radius: 10px;
  transition: transform 0.5s;
}

@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }

  .images {
    grid-template-columns: 1fr;
  }
}
